APP_NAME=Caixa
APP_ENV=development
APP_PORT=9286
APP_URL=http://localhost:9286

DB_HOST=pratico_mysql
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=caixa_db

AUTH_SERVICE_URL=http://auth_nginx:80
JWT_PUBLIC_KEY=

